header{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(105,9,149,1) 0%, rgba(0,0,0,1) 100%);
    
}

#logo{
    width: 250px;
    height: 60px;
    margin: 0px ;
    border-radius: 40px;
    overflow: hidden;
    float: left;
}

#linkHome{
    color: aliceblue;
    font-family: alkatra;
    font-size: 20px;
}

h1{
    font-family: alkatra;
    font-size: 50px;
}
h3{
    font-family: alkatra;
    
}
#cardTitle, #cardSobrenos{
    color: rgb(93, 5, 175);

}
#exampleModalLabel{
    color: rgb(93, 5, 175);
}