*{
    padding: 0%;
    margin: 0%;
    font-family: "alkatra";
    
}
h1{
    font-size: 30px;
}

header, footer{
    width: 100%; 
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(105,9,149,1) 0%, rgba(0,0,0,1) 100%);
}

footer{
    height: 60px;
    font-size: 20px;
}
#logo{
    width: 250px;
    height: 60px;
    
   
}
body{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(105,9,149,1) 72%, rgba(0,0,0,1) 100%);    
}


form{
    width: 450px;
    display: flex;
    flex-direction: column;
    background-color: rgb(93, 5, 175);
    box-shadow:0 2px 5px rgb(0, 0, 0, 0.3) ;
    border-bottom: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    
}
button:active{
    box-shadow: 10px;
    background-color: aliceblue;
}
button{
    width: 90%;
    height: 40px;
    margin:5px 20px;
    background-color: black;
    color: rgb(81, 5, 153);
    border-radius: 20px;
    gap: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
input{
    color: aliceblue;
    display: flex;
    width: 90%;
    height: 40px;
    border-radius: 20px;
    margin: 5px 20px;
    background-color: black;
    border: none;
    cursor: pointer;
}
label{
    font-size: 20px;
    padding: 0px 15px;
}
::-webkit-input-placeholder{
    padding: 20px;
    color: aliceblue;
}

#menuPC{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    list-style: none;
}
li a{
    font-size: 20px;
    text-decoration: none;
    color: aliceblue;
}
     
#menuIcon{
    width:  50px;
    cursor: pointer;
    display: none;
}

.imagem{
    width: 100%;
    
}
#socialMobile li{
    display: none;
}
#divHeader{
    display: flex;
    align-items: center;

}
#divFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    color: aliceblue;
}